a {
	text-decoration: none;
}
#left {
	position: absolute;
	top: 0;
	left: 0px;
	width: 220px;
	height: 100%;
	text-align: center;
}
#right{
	position: absolute;
	top: 0;
	right: 0;
	left: 220px;
	height: 100%;
	border-left: 2px solid #ccc;
}
iframe {
	border: none;
	height: 100%;
	width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.accordion {
    cursor: pointer;
}

.accordion + ul {
    display: none;
}

body.rightFrame {
	background-image: url("/static/image/pyOwlA.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: right bottom;
}
