<!-- iconList.html -->
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <script type="text/javascript" src="static/js/script.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
  </head>
  <body>
    <!--<p align="center">-->
      <!--<input type="radio" name="iconSize" value="LL">L-->
      <!--<input type="radio" name="iconSize" value="MM">M-->
      <!--<input type="radio" name="iconSize" value="SS" checked="checked">S-->
    <!--</p>-->
          
    {% block contents %}{% endblock %}

    <p>{{iconID}}</p>
  </body>
</html>


