{% extends "./default/Top.html" %}
{% block helps %}
    Click sticker's name from left menu
{% endblock %}
{% block inputform %}
<!--
    <form action = "Top.html" method = "GET">
    <h3>GET通信</h3>
    <p><input type="text" name="url_get_text" size="50" minlength="3" maxlength="1000"　required  placeholder="https://www.google.com/"></p>
    <p><input class="button" type="submit" value="GET通信でoutputページを開く"></p>
    </form>
-->
    <form action = "Top.html" method = "POST">
    	<h3>Add Sticker</h3>
        <input type="number" name="url_post_text" size="50" minlength="3" maxlength="1000" placeholder="9876543210" required><small> ※Allow only numeric ID.</small>
	<p><input class="button" type="submit" value="GET STICKER"></p>
    </form>
{% endblock %}
{% block responses %}
    {{ responseMessage | safe }}
{% endblock %}

